<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TrainingProjectSuite" parallel="tests" thread-count="4">
    <listeners>
        <listener class-name="Util.ReportUtil" />
    </listeners>
    <test name="LoginTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="Test.LoginTest"></class>
        </classes>
    </test>
    <!--test name="SearchBoxTest">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="Test.SearchBoxTest"></class>
        </classes>
    </test-->
</suite>
